.pricing-table .plan {
  border-bottom: 1px solid #ededed !important;
}
.pricing-table .plan .plan-price {
  display: flex !important;
  flex-direction: column !important;
  background: #f7f7f7 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  padding: 2rem 0.8rem !important;
  text-align: center !important;
  position: relative !important;
  padding-top: 65% !important;
}

.pricing-table .plan .plan-price img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
